<!--
    ************************************************************
    * Call to action section 14
    ************************************************************ -->
    <section class="pos-rel pd-tb-small bg-dark" data-rgen-sm="pd-tb-small align-c">
        <div class="container typo-light">
            <div class="w75 mr-auto align-c">
                <h2 class="title f-1 bold-3" data-rgen-sm="medium" data-animate-in="fadeInUp">Require something special?</h2>
                <p class="title-sub small" data-rgen-sm="small" data-animate-in="fadeInUp|0.1">We might help you to build it better way!</p>
                <a href="http://rgenesis.com/" target="_blank" data-rgen-sm="small" class="btn btn-default solid txt-upper bdr-2" data-animate-in="fadeInUp|0.1">Send us some words</a>
            </div>
        </div>

        <!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
    </section>
    <!-- ************** END : Call to action section 14 **************  -->