<!--
	************************************************************
	* Call to action section 15
	************************************************************ -->
	<section class="pd-tb-mini bg-default pos-rel" data-rgen-sm="pd-tb-small align-c">
        <div class="container typo-light">

            <div class="row gt20 middle-md" data-animate-in="fadeIn|0.1">
                <div class="col-md-7" data-rgen-sm="mr-b-30">
                    <h2 class="title f-1 bold-0" data-rgen-sm="large">Ready to get started?</h2>
                    <p>Lorem ipsum dolor sit amet, consecteturin ligula convallis, vel consecteturin ligula convallis tincidunt</p>
                </div><!-- // END : column //  -->

                <div class="col-md-4 offset-md-1" data-rgen-sm="mr-b-30">
                    <div class="info-obj img-l g10 mini mid bg-glass-dark-02 pd-20 rd-6 mr-b-10" data-rgen-sm="img-t">
                        <div class="img txt-white"><span class="iconwrp"><i class="pe-7s-call"></i></span></div>
                        <div class="info">
                            <p class="mr-0">Call us on</p>
                            <h3 class="mr-0 title small bold-n">1-123-456-7890</h3>
                        </div>
                    </div><!-- info box -->

                    <a href="#popup-content" class="btn btn-white solid bdr-2 block align-c set-popup" data-rgen-sm="medium bold-n">Contact us</a>
                </div><!-- // END : column //  -->
                
            </div><!-- // END : row //  -->

        </div><!-- container -->

        <!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
    </section>
    <!-- ************** END : Call to action section 15 **************  -->