<!--
	************************************************************
	* Content section 69
	************************************************************ -->
	<section class="pos-rel pd-tb-small" id="casestudies" data-rgen-sm="pd-tb-small align-c">
        <div class="container">
            
            <div class="row gt20 mb20 middle-md">
                <div class="col-md-4" data-animate-in="fadeInLeft|0.1">
                    
                    <h3 class="title f-1 bold-0 mr-b-tiny" data-rgen-sm="medium">Case studies</h3>
                    <p class="title-sub f-2 small" data-rgen-sm="small align-c">Lorem ipsum dolor sitamet consectetur adipisicing elit ullamut consequatur repellendus amet nemo dignissimos possimus eius fugiat</p>	


                    <div class="info-obj img-l g0 mini h100 align-l" data-rgen-sm="mr-b-20 h-reset">
                        <div class="img z1 mr-t-10 -mr-r-20" data-rgen-sm="hide"><span class="iconwrp rd bg-default txt-white"><i class="fa fa-quote-left"></i></span></div>
                        <div class="info bg-gray pd-tiny rd-5 h100" data-rgen-sm="h-reset">
                            <p>Lorem ipsum dolor sit amet, optio exercitationem id, sapiente ea rerum illo, labore voluptatem voluptates! Ea repellendus omnis tempora, impedit numquam. Voluptas atque, dignissimos quisquam.</p>
                            <hr>
                            <div class="mr-t-10">
                                <img src="images/person1.jpg" class="rd inline-block align-m mr-r-10 max-px-w50" alt="Person">
                                <div class="inline-block align-m">
                                    <h3 class="bold-1 fs16 mr-0">Oupsum dolor</h3>
                                    <em class="fs12">Creative Director</em>
                                </div>
                            </div>
                        </div>
                    </div><!-- // END : Info object //  -->
                </div><!-- // END : column //  -->
                
                <div class="col-md-7 offset-md-1" data-animate-in="fadeInRight|0.1">
                    <div class="carousel-widget ctrl-1 popgallery-widget" 
                        data-items="1"
                        data-nav="true"
                        data-pager="true"
                        data-itemrange="false"
                        data-margin="40"
                        data-autoplay="false"
                        data-hauto="false"
                        data-center="false">
                        <div class="owl-carousel">
                            
                            <div class="item">
                                <figure class="hover-box1">
                                    <div class="overlay flex-cc typo-light">
                                        <div class="content mr-30 z2">
                                            <!-- Pop-up Image and link -->
                                            <a href="images/800x600_01.jpg" class="iconbox sq40 bg-white txt-dark fs24 mr-6 pop-img"><i class="pe-7s-expand1"></i></a>
                                            <a href="http://rgenesis.com/" target="_blank" class="iconbox sq40 bg-white txt-dark fs24 mr-6"><i class="pe-7s-exapnd2"></i></a>
                                        </div>
                                        <b class="full-wh bg-dark op-08 z1 l0"></b>
                                    </div>
                                    <!-- Project image -->
                                    <img src="images/800x600_01.jpg" alt="image">
                                </figure><!-- / hover box -->
                                <div class="pd-tiny bg-dark typo-light" data-rgen-sm="pd-20">
                                    <h2 class="title bold-n small f-1">Lorem ipsum dolor sitamet consectetur</h2>
                                    <p class="op-05">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                </div>
                            </div><!-- /.item -->

                            <div class="item">
                                <figure class="hover-box1">
                                    <div class="overlay flex-cc typo-light">
                                        <div class="content mr-30 z2">
                                            <!-- Pop-up Image and link -->
                                            <a href="images/800x600_02.jpg" class="iconbox sq40 bg-white txt-dark fs24 mr-6 pop-img"><i class="pe-7s-expand1"></i></a>
                                            <a href="http://rgenesis.com/" target="_blank" class="iconbox sq40 bg-white txt-dark fs24 mr-6"><i class="pe-7s-exapnd2"></i></a>
                                        </div>
                                        <b class="full-wh bg-dark op-08 z1 l0"></b>
                                    </div>
                                    <!-- Project image -->
                                    <img src="images/800x600_02.jpg" alt="image">
                                </figure><!-- / hover box -->
                                <div class="pd-tiny bg-dark typo-light" data-rgen-sm="pd-20">
                                    <h2 class="title bold-n small f-1">Lorem ipsum dolor sitamet consectetur</h2>
                                    <p class="op-05">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                                </div>
                            </div><!-- /.item -->

                        </div><!-- /.owl-carousel -->
                    </div><!-- /.carousel-widget -->
                </div><!-- // END : column //  -->
            </div><!-- // END : row //  -->

            <hr class="mr-tb-small" data-rgen-sm="mr-tb-small" data-animate-in="fadeInUp|0.1">
            <ul class="inline-list gt-small size-small reset op-05">
                <li data-animate-in="fadeInUp|0.1"><img src="images/brand-logo1.png" alt="brand"></li>
                <li data-animate-in="fadeInUp|0.2"><img src="images/brand-logo2.png" alt="brand"></li>
                <li data-animate-in="fadeInUp|0.3"><img src="images/brand-logo3.png" alt="brand"></li>
                <li data-animate-in="fadeInUp|0.4"><img src="images/brand-logo4.png" alt="brand"></li>
                <li data-animate-in="fadeInUp|0.5"><img src="images/brand-logo5.png" alt="brand"></li>
                <li data-animate-in="fadeInUp|0.6"><img src="images/brand-logo6.png" alt="brand"></li>
            </ul>


        </div><!-- // END : Container //  -->

        <!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
    </section>
    <!-- ************** END : Slider section 69 **************  -->