<!--
    ************************************************************
    * Content section 63
    ************************************************************ -->
    <section class="pd-tb-small pos-rel overflow-none" data-rgen-sm="pd-tb-small" id="about">
        <div class="container pos-rel z1 small -mr-t-200 mr-b-small" data-rgen-sm="mr-0">
            <div class="pd-mini bg-white bdr-1 bdr-op-1 shadow-large" data-rgen-sm="mr-b-40" data-animate-in="fadeInUp">
                <div class="row gt40 mb20">
                    <div class="col-md-4">
                        <div class="info-obj img-l g20 mini mr-0" data-rgen-sm="mr-b-30">
                            <div class="img"><span class="iconwrp txt-default"><i class="pe-7s-phone"></i></span></div>
                            <div class="info">
                                <h3 class="title mini bold-n mr-b-10">Fully responsive</h3>
                                <p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
                            </div>
                        </div><!-- info box -->
                    </div><!-- // END : column //  -->
                    
                    <div class="col-md-4">
                        <div class="info-obj img-l g20 mini mr-0" data-rgen-sm="mr-b-30">
                            <div class="img"><span class="iconwrp txt-default"><i class="pe-7s-photo-gallery"></i></span></div>
                            <div class="info">
                                <h3 class="title mini bold-n mr-b-10">Flexible design</h3>
                                <p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
                            </div>
                        </div><!-- info box -->
                    </div><!-- // END : column //  -->

                    <div class="col-md-4">
                        <div class="info-obj img-l g20 mini mr-0" data-rgen-sm="mr-b-30">
                            <div class="img"><span class="iconwrp txt-default"><i class="pe-7s-paint-bucket"></i></span></div>
                            <div class="info">
                                <h3 class="title mini bold-n mr-b-10">Easy to customize</h3>
                                <p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing nonumy eirmod</p>
                            </div>
                        </div><!-- info box -->
                    </div><!-- // END : column //  -->
                </div><!-- // END : row //  -->
            </div>
            
        </div><!-- // END : Container //  -->

        <div class="container pos-rel z1">
            <div class="row gt20 mb20">
                <div class="col-md-4" data-animate-in="fadeInLeft">
                    <h2 class="title small f-1 bold-1 pd-l-mini bdr-l bdr-l-4 bdr-default" data-rgen-sm="small pd-0 bdr-reset">Lorem ipsum dolor sitamet consectetur adipisicing elit ullamut consequatur</h2>
                </div><!-- // END : column //  -->
                
                <div class="col-md-7 offset-md-1" data-animate-in="fadeInRight">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div><!-- // END : column //  -->
            </div><!-- // END : row //  -->
            
        </div><!-- // END : Container //  -->

        <!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
    </section>
    <!-- ************** END : Content section 63 **************  -->