<!--
    ************************************************************
    * Counter section 10
    ************************************************************ -->
    <section class="pos-rel pd-tb-medium bg-dark" data-rgen-sm="pd-tb-small">
        <div class="container typo-light">
            
            <div class="row gt20 mb20">
                <div class="col-md-4" data-rgen-sm="align-c" data-animate-in="fadeLeft|0.1">
                    <h2 class="title bold-1" data-rgen-sm="small">Our achievements</h2>
                    <hr class="px-w100 mr-tb-tiny light" data-rgen-sm="mr-auto">
                    <p class="title-sub f-1 italic mini mr-b-mini" data-rgen-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit ullamut consequatur repellendus amet nemo dignissimos possimus eius fugiat</p>

                    <a href="http://goo.gl/hs5BPz" target="_blank" class="btn btn-default small solid" data-rgen-sm="medium">GET STARTED NOW</a>
                </div><!-- // END : column //  -->
                
                <div class="col-md-7 offset-md-1">
                    <div class="row gt40 mb20">
                        <div class="col-md-6" data-animate-in="fadeInUp|0.1">
                            <div class="info-obj img-l mid g30 mini count-box typo-light pd-tiny bg-glass-dark-02 rd-6">
                                <div class="img"><span class="iconwrp txt-white"><i class="icon-profile-male"></i></span></div>
                                <div class="info bdr-l bdr-op-light-1 pd-l-20">
                                    <h2 class="title bold-1 mr-0" data-rgen-sm="fs30 mr-b-0"><span class="count">2140</span></h2>
                                    <p class="mr-0">Happy Clients</p>
                                </div>
                            </div><!-- // END : Info object // -->
                        </div><!-- // END : column //  -->

                        <div class="col-md-6" data-animate-in="fadeInUp|0.2">
                            <div class="info-obj img-l mid g30 mini count-box typo-light pd-tiny bg-glass-dark-02 rd-6">
                                <div class="img"><span class="iconwrp txt-white"><i class="icon-layers"></i></span></div>
                                <div class="info bdr-l bdr-op-light-1 pd-l-20">
                                    <h2 class="title bold-1 mr-0" data-rgen-sm="fs30 mr-b-0"><span class="count">2580</span></h2>
                                    <p class="mr-0">Projects Completed</p>
                                </div>
                            </div><!-- // END : Info object // -->
                        </div><!-- // END : column //  -->

                        <div class="col-md-6" data-animate-in="fadeInUp|0.3">
                            <div class="info-obj img-l mid g30 mini count-box typo-light pd-tiny bg-glass-dark-02 rd-6">
                                <div class="img"><span class="iconwrp txt-white"><i class="icon-alarmclock"></i></span></div>
                                <div class="info bdr-l bdr-op-light-1 pd-l-20">
                                    <h2 class="title bold-1 mr-0" data-rgen-sm="fs30 mr-b-0"><span class="count">4500</span></h2>
                                    <p class="mr-0">Hours Worked</p>
                                </div>
                            </div><!-- // END : Info object // -->
                        </div><!-- // END : column //  -->

                        <div class="col-md-6" data-animate-in="fadeInUp|0.4">
                            <div class="info-obj img-l mid g30 mini count-box typo-light pd-tiny bg-glass-dark-02 rd-6">
                                <div class="img"><span class="iconwrp txt-white"><i class="icon-pencil"></i></span></div>
                                <div class="info bdr-l bdr-op-light-1 pd-l-20">
                                    <h2 class="title bold-1 mr-0" data-rgen-sm="fs30 mr-b-0"><span class="count">100</span></h2>
                                    <p class="mr-0">Articles Published</p>
                                </div>
                            </div><!-- // END : Info object // -->
                        </div><!-- // END : column //  -->

                    </div><!-- // END : row //  -->
                </div><!-- // END : column //  -->
            </div><!-- // END : row //  -->

            <hr class="light">

            <ul class="inline-list gt-small size-mini reset op-05">
                <li data-animate-in="fadeInUp|0.1"><img src="images/brand-logo1_light.png" alt="brand"></li>
                <li data-animate-in="fadeInUp|0.2"><img src="images/brand-logo2_light.png" alt="brand"></li>
                <li data-animate-in="fadeInUp|0.3"><img src="images/brand-logo3_light.png" alt="brand"></li>
                <li data-animate-in="fadeInUp|0.4"><img src="images/brand-logo4_light.png" alt="brand"></li>
                <li data-animate-in="fadeInUp|0.5"><img src="images/brand-logo5_light.png" alt="brand"></li>
                <li data-animate-in="fadeInUp|0.6"><img src="images/brand-logo6_light.png" alt="brand"></li>
            </ul>

        </div><!-- // END : Container //  -->


        <!--
        =================================
        = Background holder
        =================================
        -->
        <div class="bg-holder full-wh z0">
            <!-- Overlay -->
            <b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(0, 0, 0, 0.7)"></b>
            <!-- Background video -->
            <div data-bgholder="video" class="videobg z4 full-wh"></div>
            <!-- bg slider -->
            <div data-bgholder="slider" class="full-wh z3" data-rgen-sm="h100">
                <div class="bgslider full-wh"></div>
            </div>
            <!-- Parallax image -->
            <div data-bgholder="parallax" class="full-wh z2" data-parallax-img="images/bg-img-06.jpg"></div>
            <!-- Background image -->
            <b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
        </div>
    </section>
    <!-- ************** END : Counter section 10 **************  -->