<!--
    ************************************************************
    * Feature section 42
    ************************************************************ -->
    <section class="pos-rel pd-tb-medium" data-rgen-sm="pd-tb-small align-c" id="services">
        <div class="container">
            
            <div class="row gt20 middle-md mr-b-mini">
                <div class="col-md-4" data-rgen-sm="mr-b-40" data-animate-in="fadeInLeft">
                    <h2 class="title bold-1 f-1" data-rgen-sm="small">Great features</h2>
                    <p class="mr-b-mini" data-rgen-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit ullamut consequatur repellendus amet nemo dignissimos possimus eius fugiat</p>
                    <a href="#" class="btn btn-default small solid">Get started now</a>
                </div><!-- // END : column //  -->
                
                <div class="col-md-7 offset-md-1" data-animate-in="fadeInRight">
                    <img src="images/mac-img01.png" alt="macbook image" class="mr-auto mr-b-mini">
                </div><!-- // END : column //  -->
            </div><!-- // END : row //  -->

            <div class="row gt20 mb20" data-rgen-sm="align-c">
                <div class="col-md-3" data-animate-in="fadeInUp|0.1">
                    <div class="info-obj img-t g20 mini bg-light pd-tiny">
                        <div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-browser"></i></span></div>
                        <div class="info">
                            <h3 class="title mini bold-n mr-b-10">Clean code</h3>
                            <p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod</p>
                        </div>
                    </div><!-- info box -->
                </div><!-- // END : column //  -->
                
                <div class="col-md-3" data-animate-in="fadeInUp|0.2">
                    <div class="info-obj img-t g20 mini bg-light pd-tiny">
                        <div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-refresh-2"></i></span></div>
                        <div class="info">
                            <h3 class="title mini bold-n mr-b-10">Flexible form script</h3>
                            <p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod</p>
                        </div>
                    </div><!-- info box -->
                </div><!-- // END : column //  -->

                <div class="col-md-3" data-animate-in="fadeInUp|0.3">
                    <div class="info-obj img-t g20 mini bg-light pd-tiny">
                        <div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-shuffle"></i></span></div>
                        <div class="info">
                            <h3 class="title mini bold-n mr-b-10">Advanced helper CSS</h3>
                            <p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod</p>
                        </div>
                    </div><!-- info box -->
                </div><!-- // END : column //  -->

                <div class="col-md-3" data-animate-in="fadeInUp|0.4">
                    <div class="info-obj img-t g20 mini bg-light pd-tiny">
                        <div class="img txt-dark"><span class="iconwrp"><i class="pe-7s-paint-bucket"></i></span></div>
                        <div class="info">
                            <h3 class="title mini bold-n mr-b-10">Easy to customize</h3>
                            <p class="mr-0">Lorem ipsum dolor sit ametconsetetur sadipscing elitr, sed diam nonumy eirmod</p>
                        </div>
                    </div><!-- info box -->
                </div><!-- // END : column //  -->
            </div><!-- // END : row //  -->

        </div><!-- / container -->

        <!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
    </section>
    <!-- ************** END : Feature section 42 **************  -->