<!--
    ************************************************************
    * Other section 30
    ************************************************************ -->
    <section class="pos-rel pd-0" data-rgen-sm="pd-tb-small">
        <div class="bg-dark pd-tb-small typo-light pd-b-large" data-rgen-sm="pd-t-40">
            <div class="container small mr-b-small" data-animate-in="fadeInUp">
                <h2 class="title w75 small f-1 bold-1 align-c mr-auto" data-rgen-sm="small">Lorem ipsum dolor sitamet consectetur adipisicing elit ullamut consequatur repellendus</h2>	
            </div>
        </div>
        <div class="container -mr-t-250">
            <div class="row gt40 mb20">
                <div class="col-md-4" data-animate-in="fadeInUp|0.1">
                    <div class="min-px-h250 flex-bl pd-tiny typo-light pos-rel bg-cc bg-cover bdr-t bdr-t-10 bdr-default" data-bg="images/800x600_11.jpg">
                        <div class="content pos-rel z1">
                            <span class="sq60 fs50 txt-default"><i class="pe-7s-photo-gallery"></i></span>
                            <h3 class="title mini bold-n mr-0">Prototyping</h3>
                        </div>
                        <b class="full-wh bg-dark op-06"></b>
                    </div>
                    <div class="bg-white shadow-medium pd-tiny min-px-h200">
                        <p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
                    </div>
                </div><!-- // END : column //  -->

                <div class="col-md-4" data-animate-in="fadeInUp|0.2">
                    <div class="min-px-h250 flex-bl pd-tiny typo-light pos-rel bg-cc bg-cover bdr-t bdr-t-10 bdr-default" data-bg="images/800x600_10.jpg">
                        <div class="content pos-rel z1">
                            <span class="sq60 fs50 txt-default"><i class="pe-7s-paint-bucket"></i></span>
                            <h3 class="title mini bold-n mr-0">Design & Development</h3>
                        </div>
                        <b class="full-wh bg-dark op-06"></b>
                    </div>
                    <div class="bg-white shadow-medium pd-tiny min-px-h200">
                        <p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
                    </div>
                </div><!-- // END : column //  -->


                <div class="col-md-4" data-animate-in="fadeInUp|0.3">
                    <div class="min-px-h250 flex-bl pd-tiny typo-light pos-rel bg-cc bg-cover bdr-t bdr-t-10 bdr-default" data-bg="images/800x600_9.jpg">
                        <div class="content pos-rel z1">
                            <span class="sq60 fs50 txt-default"><i class="pe-7s-user"></i></span>
                            <h3 class="title mini bold-n mr-0">User Testing</h3>
                        </div>
                        <b class="full-wh bg-dark op-06"></b>
                    </div>
                    <div class="bg-white shadow-medium pd-tiny min-px-h200">
                        <p class="mr-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
                    </div>
                </div><!-- // END : column //  -->

            </div><!-- // END : row //  -->
        </div><!-- / container -->

        <!--
=================================
= Background holder
=================================
-->
<div class="bg-holder full-wh z0">
	<!-- Overlay -->
	<b data-bgholder="overlay" class="full-wh z5" data-bgcolor="rgba(45, 51, 69, 0)"></b>
	<!-- Parallax image -->
	<div data-bgholder="parallax" class="full-wh z2"></div>
	<!-- Background image -->
	<b data-bgholder="bg-img" class="full-wh bg-cover bg-cc z1"></b>
</div>
    </section>
    <!-- ************** END : Other section 30 **************  -->