<!--
    ************************************************************
    * Portfolio section 18
    ************************************************************ -->
    <section class="pos-rel pd-0" id="portfolio">
        <div class="swiper-gallery layout-2">

            <!-- Large images -->
            <div class="swiper-container gallery-top vh80">
                <div class="swiper-wrapper">

                    <!-- Slide -->
                    <div class="swiper-slide" data-slide-bg="images/gallery-img-08.jpg">
                        <div class="hover-box1 full-wh">
                            <div class="overlay full-wh z2 pd-40 flex-cc typo-light">
                                <div class="content max-px-w350 pos-rel z2 align-c">
                                    <h3 class="title small">USER TESTING</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
                                    <a href="#" class="btn btn-white small solid">More details</a>
                                </div><!-- info box -->
                                <div class="full-wh" data-bgcolor="rgba(45, 51, 69, 0.8)"></div>
                            </div>
                        </div><!-- / hover box -->
                    </div>

                    <!-- Slide -->
                    <div class="swiper-slide" data-slide-bg="images/gallery-img-09.jpg">
                        <div class="hover-box1 full-wh">
                            <div class="overlay full-wh z2 pd-40 flex-cc typo-light">
                                <div class="content max-px-w350 pos-rel z2 align-c">
                                    <h3 class="title small">USER TESTING</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
                                    <a href="#" class="btn btn-white small solid">More details</a>
                                </div><!-- info box -->
                                <div class="full-wh" data-bgcolor="rgba(45, 51, 69, 0.8)"></div>
                            </div>
                        </div><!-- / hover box -->
                    </div>

                    <!-- Slide -->
                    <div class="swiper-slide" data-slide-bg="images/gallery-img-10.jpg">
                        <div class="hover-box1 full-wh">
                            <div class="overlay full-wh z2 pd-40 flex-cc typo-light">
                                <div class="content max-px-w350 pos-rel z2 align-c">
                                    <h3 class="title small">USER TESTING</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
                                    <a href="#" class="btn btn-white small solid">More details</a>
                                </div><!-- info box -->
                                <div class="full-wh" data-bgcolor="rgba(45, 51, 69, 0.8)"></div>
                            </div>
                        </div><!-- / hover box -->
                    </div>

                    <!-- Slide -->
                    <div class="swiper-slide" data-slide-bg="images/gallery-img-11.jpg">
                        <div class="hover-box1 full-wh">
                            <div class="overlay full-wh z2 pd-40 flex-cc typo-light">
                                <div class="content max-px-w350 pos-rel z2 align-c">
                                    <h3 class="title small">USER TESTING</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
                                    <a href="#" class="btn btn-white small solid">More details</a>
                                </div><!-- info box -->
                                <div class="full-wh" data-bgcolor="rgba(45, 51, 69, 0.8)"></div>
                            </div>
                        </div><!-- / hover box -->
                    </div>

                    <!-- Slide -->
                    <div class="swiper-slide" data-slide-bg="images/gallery-img-12.jpg">
                        <div class="hover-box1 full-wh">
                            <div class="overlay full-wh z2 pd-40 flex-cc typo-light">
                                <div class="content max-px-w350 pos-rel z2 align-c">
                                    <h3 class="title small">USER TESTING</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
                                    <a href="#" class="btn btn-white small solid">More details</a>
                                </div><!-- info box -->
                                <div class="full-wh" data-bgcolor="rgba(45, 51, 69, 0.8)"></div>
                            </div>
                        </div><!-- / hover box -->
                    </div>

                    <!-- Slide -->
                    <div class="swiper-slide" data-slide-bg="images/gallery-img-13.jpg">
                        <div class="hover-box1 full-wh">
                            <div class="overlay full-wh z2 pd-40 flex-cc typo-light">
                                <div class="content max-px-w350 pos-rel z2 align-c">
                                    <h3 class="title small">USER TESTING</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
                                    <a href="#" class="btn btn-white small solid">More details</a>
                                </div><!-- info box -->
                                <div class="full-wh" data-bgcolor="rgba(45, 51, 69, 0.8)"></div>
                            </div>
                        </div><!-- / hover box -->
                    </div>

                    <!-- Slide -->
                    <div class="swiper-slide" data-slide-bg="images/gallery-img-14.jpg">
                        <div class="hover-box1 full-wh">
                            <div class="overlay full-wh z2 pd-40 flex-cc typo-light">
                                <div class="content max-px-w350 pos-rel z2 align-c">
                                    <h3 class="title small">USER TESTING</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus enim sequi pariatur ipsam assumenda unde tempore rem maxime</p>
                                    <a href="#" class="btn btn-white small solid">More details</a>
                                </div><!-- info box -->
                                <div class="full-wh" data-bgcolor="rgba(45, 51, 69, 0.8)"></div>
                            </div>
                        </div><!-- / hover box -->
                    </div>

                </div><!-- /.swiper-wrapper -->
                <!-- Navigation buttons -->
                <div class="swiper-button-prev"><i class="fa fa-angle-left"></i></div>
                <div class="swiper-button-next"><i class="fa fa-angle-right"></i></div>
            </div><!-- /Large images -->

            <!-- Thumb images -->
            <div class="swiper-container gallery-thumbs sm-hide bg-dark">
                <div class="swiper-wrapper">
                </div><!-- /.swiper-wrapper -->
                <b class="full-wh bg-glass-dark-03"></b>
            </div><!-- /.Thumb images -->

        </div><!-- /.swiper-gallery -->
    </section>
    <!-- ************** END : Portfolio section 18 **************  -->